<div class="container">

    <div class="row form-inline">
        <div class="col-md-3">
            <input ng-model="query" class="form-control" placeholder="Search">
        </div>
        <div class="col-md-5">
             <label for="sort">Sort</label>
             <select id="sort" ng-model="orderProp" class="form-control">
                <option value="name">Name</option>
                <option value="id">ID</option>
                <option value="created">Created</option>
                <option value="modified">Modified</option>
                <option value="priority">Priority</option>
            </select>
            <input type="checkbox" id="descending" value="-"
                   ng-model="descProp" ng-true-value="'-'" ng-false-value="''">
            <label for="descending">Descending</label>
        </div>
        <div class="col-md-1">
            <button ng-click="get()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
        </div>
    </div>
    
    <div class="table">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>ID</th>
					<th>Created</th>
					<th>Modified</th>
					<th>Priority</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items | filter : query | orderBy : descProp + orderProp">
					<td class="col-md-2">
					  <a href="#/item/{{item.id}}">{{item.name}}</a>
					</td>
					<td class="col-md-1">{{item.id}}</td>
					<td class="col-md-1">{{item.created | mydate}}</td>
					<td class="col-md-1">{{item.modified | mydate}}</td>
					<td class="col-md-1">{{item.priority}}</td>
					<td class="col-md-3">{{item.description}}</td>
			    </tr>
		    </tbody>
		</table> 
    </div>
    
</div>
