<div class="container">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="item" class="col-md-{{labelCols}} control-label">
	       Item
	    </label>
	    <div class="col-md-{{valueCols}}">
	      <input class="form-control" id="item" required>
	    </div>
	  </div>
	  
      
    
      <div class="form-group">
        <div class="col-md-offset-{{labelCols}} col-md-6">
		  <table class="table table-striped">
            <tbody>
                <tr ng-repeat="file in files">
                  <td class="col-md-4">
                    {{file.name}}
                  </td>
                  <td class="col-md-2">
                      <button class="btn btn-warning pull-right" ng-click="files.splice($index, 1)">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          Cancel
                      </button>
                  </td>
                </tr>
            </tbody>
          </table>
          
          <span class="btn btn-success btn-file">
            <i class="glyphicon glyphicon-plus"></i>
            Add Files
            <input id="tmp" type="file"
               onchange="angular.element(this).scope().change(this); this.value = null;">
          </span> 
		  
	    </div>
      </div>

	  <div class="form-group">
	    <div class="col-md-offset-{{labelCols}} col-md-{{valueCols}}">
	      <button type="submit" class="btn btn-primary" ng-click="submit()">
	        <i class="glyphicon glyphicon-upload"></i>
	        Submit
	      </button>
	    </div>
	  </div>
	</form>
</div>
