<div class="container">
	<form class="form-horizontal" name="form" id="form">
      <div class="form-group" ng-show="updateFlag">
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd>{{item.id}}</dd>
          <dt>Created</dt>
          <dd>{{item.created | nbdate : 'short'}}</dd>
          <dt>Modified</dt>
          <dd>{{item.modified | nbdate : 'short'}}</dd>
          <dt>Existing Files</dt>
          <dd>
            <span ng-show="item.existingFiles.length == 0">&#216;</span>
            <ul ng-show="item.existingFiles.length > 0" class="list-unstyled">
                <li ng-repeat="file in item.existingFiles">
                    <label style="font-weight: normal; margin: 0px">
                        <input type="checkbox" ng-model="file.keep"></input>
                        <a href="/file/{{file.id}}">{{file.name}}</a>
                        ({{file.size | filesize : 2}})
                    </label>
                </li>
            </ul>
          </dd>
        </dl>
      </div>
	
	  <div class="form-group">
	    <label for="name" class="col-md-{{labelCols}} control-label">
	       Name
	    </label>
	    <div class="col-md-{{valueCols}}">
	      <input class="form-control" id="name" required ng-model="item.name">
	    </div>
	  </div>
	  
      <div class="form-group">
        <label for="priority" class="col-md-{{labelCols}} control-label">
           Priority
        </label>
        <div class="col-md-2">
          <input class="form-control" id="priority" required ng-model="item.priority"
                 type="number" min="0" max="100" step="1">
          <input id="test" type="range" ng-model="item.priority"
                 min="0" max="100">
        </div>
      </div>
      
      <div class="form-group">
        <label for="description" class="col-md-{{labelCols}} control-label">
           Description
        </label>
        <div class="col-md-{{valueCols}}">
          <textarea rows="8" class="form-control" id="description" required ng-model="item.description"></textarea>
        </div>
      </div>
    
      <div class="form-group">
        <label ng-show="files.length > 0"
               class="col-md-{{labelCols}} control-label">
           Files
        </label>
        <div class="col-md-6" ng-class="filesOffset();">
		  <table class="table table-striped">
            <tbody>
                <tr ng-repeat="file in files">
                  <td class="col-md-4"
                      style="max-width: 300px; word-wrap: break-word;">
                    {{file.name}}
                  </td>
                  <td class="col-md-1">
                    {{file.size | filesize : 2}}
                  </td>
                  <td class="col-md-1">
                      <button class="btn btn-warning pull-right" ng-click="files.splice($index, 1)">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          Cancel
                      </button>
                  </td>
                </tr>
            </tbody>
          </table>
          
          <span class="btn btn-success btn-file">
            <i class="glyphicon glyphicon-plus"></i>
            Add Files
            <input id="tmp" type="file" multiple
               onchange="angular.element(this).scope().change(this); this.value = null;">
          </span> 
		  
	    </div>
      </div>

	  <div class="form-group">
	    <div class="col-md-offset-{{labelCols}} col-md-{{valueCols}}">
	      <button type="submit" class="btn btn-primary"
	              ng-disabled="loading" ng-click="submit()">
             <i class="{{submitClass}}"></i>
             {{submitText}}
	      </button>
	      <span ng-show="updateFlag">
            <button ng-click="cancel()" class="btn btn-warning">
              <i class="glyphicon glyphicon-remove"></i>
              Cancel
            </button>
            <button ng-click="revert()" class="btn btn-default">
              <i class="glyphicon glyphicon-refresh"></i>
              Reload
            </button>
          </span>
	    </div>
	  </div>
	</form>
</div>
