<div class="container">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="item" class="col-md-{{labelCols}} control-label">
	       Item
	    </label>
	    <div class="col-md-{{valueCols}}">
	      <input class="form-control" id="item" required>
	    </div>
	  </div>
	  
      
    
      <div class="form-group">
		<input ng-model="f" id="tmp" type="file" name="f"
		       onchange="angular.element(this).scope().change(this)">
      </div>
      
      <div ng-repeat="file in files">
        {{file.name}} X
      </div>

	  <div class="form-group">
	    <div class="col-md-offset-{{labelCols}} col-md-{{valueCols}}">
	      <button type="submit" class="btn btn-primary" ng-click="submit()">
	        <i class="glyphicon glyphicon-upload"></i>
	        Submit
	      </button>
	    </div>
	  </div>
	</form>
</div>
