<div class="container">
    <dl class="dl-horizontal">
        <dt>Item</dt>
        <dd>{{item.name}}</dd>
    
        <dt>Id</dt>
        <dd>{{item.id}}</dd>
        
        <dt>User</dt>
        <dd>{{item.user}}</dd>
        
        <dt>Created</dt>
        <dd>{{item.created | date : 'short'}}</dd>
        
        <dt>Modified</dt>
        <dd>{{item.modified | date : 'short'}}</dd>
        
        <dt>Priority</dt>
        <dd>{{item.priority}}</dd>
        
        <dt>Description</dt>
        <dd>{{item.description}}</dd>
        
        <dt>Files</dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="file in item.files">
                    {{file}}
                </li>
            </ul>
        </dd>
    </dl>
    <div class="row">
        <button ng-click="cancel()" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left"></span> Cancel</button>
        <button ng-click="save()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
</div>

